body {
  padding: 50px;
  padding-bottom: 500px;
  background-color: #efefef;
}

h1 {
  color: #333;
}

p {
  background-color: #999;
  padding: 10px;
}

button {
  color: black ;
  background-color: rgb(50, 172, 121);
  margin-bottom: 20px;
  
}